a {
    color: honeydew;
    text-decoration: none;
}

a:visited {
    color: honeydew;
}

.navbar {
    overflow: hidden;
    background-color: rgba(51, 51, 51, 0.5);
    right: 0;
    top: 50px;
    position: fixed;
    border: 1px solid honeydew;
}


.navbar #myLinks {
    display: none;
}

.navbar a {
    color: honeydew;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

.navbar a.icon {
    display: block;
    right: 0;
    top: 0;
    background-color: rgba(51, 51, 51, 0.1);
    position: fixed;
    border-radius: 25%;
}

header {
    background-color: #333;
    width: 100vw;
    height: 100vh;
    margin: 0;
    position: static;
    color: honeydew;
}

.headerImage img {
    max-height: 100vh;
}

.headerImage h3 {
    position: absolute;
    left: 50px;
    top: 250px;
}

.headerImage h4 {
    position: absolute;
    left: 60px;
    top: 300px;
}

/* .headerImage a {
    position: absolute;
    left: 135px;
    bottom: 0px
} */

#arrow {
    font-size: 84px;
}

#education {
    display: flex;
    flex-flow: column wrap;
    text-align: center;
    /* background-color: #4C061D; */
    margin-top: 1px;
}

#pdxcglogo {
    align-self: center;
    max-width: 50px;
    margin-top: 6px;
}

#education ul {
    display: inline-block;
    list-style-type: "\2705";
    margin: auto;
    text-align: left;
    margin-bottom: 20px;
}

#education h3 {
    margin: auto;
}

/* #projects a {
    color: black;
} */

footer {
    text-align: center;
    background-color: #050517;
    margin-top: 1px;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
}

.w3-card-4 {
    width: 300px;
    max-height: 400px;
    justify-content: center;
    align-content: center;
}

/* Sort out why this isn't changing the image space */
.w3-card-4 img {
    max-width: 75px;
    align-self: center;
    justify-self: center;
}

#projects {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.w3-card-4 p, h4 {
    display: flex;
    justify-content: center;
    align-content: center;
}



@media screen and (min-width: 600px) {


    .navbar a:hover {
        background-color: #ddd;
        color: black;
    }
        
    .active {
        background-color: #4CAF50;
        color: white;
    }

    #projects {
        margin-left: auto;
    }
    
    
    }