* {
    box-sizing: border-box;
    color: honeydew;
}

body {
    background-color: black;
    background-image: url(https://p0.piqsels.com/preview/618/529/73/bonfire-british-columbia-campfire-canada.jpg);
    min-height: auto;
    max-height: 100%;
    background-position: top center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    /* background-size: 100%; */
}

a:visited {
    color: honeydew;
}

header {
    display: grid;
    grid-template-columns: 97vw;
    grid-template-rows: [first] 20% [one] 20% [two] 20% [three] 20% [four] 20% [end];
    text-align: center;
    /* flex-direction: column;
    align-content: center; */
    height: 99vh;
    padding: 0;
}

header h1 {
    grid-row: two / three
}

header p {
    text-align: center;
    font-size: 18px;
    margin-bottom: 12px;
}

#arrow {
    font-size: 84px;
    margin-top: 0;
}

header a{
    /* text-align: right; */
    text-decoration: none;
    grid-row: four / end;
    /* align-items: flex-end; */
}

h1 {
    text-align: center;
}

.navbar {
    overflow: hidden;
    background-color: #333;
    right: 0;
    top: 50px;
    position: fixed;
}

.navbar #myLinks {
    display: none;
}

.navbar a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

.navbar a.icon {
    display: block;
    right: 0;
    top: 0;
    background: black;
    position: fixed;
}

#profile {
    background-color: #1F363D;
    margin-top: 1px;
    padding-top: 2px;
}

#profile h2, h4 {
    text-align: center;
}

#profile p {
    margin: 0;
}

main {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    background-color: #23262D;
    text-align: center;
    margin-top: 1px;
}

.project1 {
    border: 2pt solid red;
    min-width: 100%;
    max-width: 100%;
}

.project2 {
    border: 2pt solid blue;
    min-width: 100%;
    max-width: 100%;
}

.project3 {
    border: 2pt solid orange;
    min-width: 100%;
    max-width: 100%;
}

.project4 {
    border: 2pt solid green;
    min-width: 100%;
    max-width: 100%;
}

main p {
    margin: auto;
    margin-top: 12px;
}

main hr {
    color: #4E6B6D;
    margin-top: 6px;
    margin-bottom: 6px;
    justify-content: center;
    width: 65%;
}

#education {
    display: flex;
    flex-flow: column wrap;
    text-align: center;
    background-color: #4C061D;
    margin-top: 1px;
}

#pdxcglogo {
    align-self: center;
    max-width: 50px;
    margin-top: 6px;
}

#education ul {
    display: inline-block;
    list-style-type: "\2705";
    margin: auto;
    text-align: left;
    margin-bottom: 20px;
}

#education h3 {
    margin: auto;
}

footer {
    text-align: center;
    background-color: #050517;
    margin-top: 1px;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
}

@media screen and (min-width: 600px) {


.navbar a:hover {
    background-color: #ddd;
    color: black;
}
    
.active {
    background-color: #4CAF50;
    color: white;
}


}