

.landing-view {
    background-color: rgb(72, 72, 255);
    height: 100vh;
    color: antiquewhite;
    /* max-height: 100vh;
    overflow: hidden; */
    padding: 0.5rem;
}

.landing-view h1 {
    font-size: 10rem;
}

.landing-view > h2 {
    text-align: center;
}

.landing-view p {
    text-align: center;
    margin-top: 1rem;
}

.landing-links {
    display: flex;
    justify-content: space-evenly;
}

.fa-brands {
    color: antiquewhite;
    font-size: 2rem;
}

.projects-cards {
    min-height: 100vh;
    max-height: 100%;
    padding: 0.5rem;
}

.projects-cards h1 {
    font-size: 4rem;
}

.button-links {
    display: flex;
    justify-content: space-evenly;
}

.card {
    box-shadow: 1px 1px 2px black;
    max-width: 99vw;
}

.placeholder-text {
    text-align: center;
    margin: 25% 0;
}

.about-me {
    /* background-color: #973CF4; */
    background-color: rgb(72, 72, 255);
    color: antiquewhite;
    min-height: 100vh;
    max-height: 100%;
    padding: 0.5rem;
}

.links-container {
    display: flex;
    justify-content: space-evenly;
}

.section-container {
    display: flex;
}

.fa-solid {
    color: antiquewhite;
    font-size: 2rem;
    text-align: center;
}

.about-me-section {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    margin: auto;
    margin: 0.5rem;
    margin-top: 2rem;

}

.description-header {
    text-align: center;
    margin: 0.75rem;
}